@import "_variables.scss";
/* 首頁-Banner #top-carousel*/
#top-carousel {
  height: 460px;
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0;
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 80px;
    height: 55px;
    border-style: solid;
    border-color: $primary;
    transition: opacity 0.3s;
  }
  .swiper-button-prev {
    left: 0;
    border-width: 1px 1px 1px 0;
    background-image: url("../images/svg/left-orange-arrow.svg");
  }
  .swiper-button-next {
    right: 0;
    border-width: 1px 0px 1px 1px;
    background-image: url("../images/svg/right-orange-arrow.svg");
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
  .swiper-pagination-bullet {
    background: white;
    opacity: 1;
    border-radius: 0;
    width: 60px;
    height: 2px;
  }
  .swiper-pagination-bullet-active {
    background: #e94f1b;
  }

  .swiper-slide {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: "";
      z-index: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80%;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    }
    .banner {
      z-index: -1;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .swiper-text {
      width: 80%;
      z-index: 1;
      color: white;
      font-size: 2rem;
      letter-spacing: 4px;
      font-weight: bold;
    }
  }
}

@media (max-width: 996px) {
  #top-carousel {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
    .swiper-slide {
      img {
        min-width: 100%;
        width: initial !important;
        height: 100%;
      }
      .swiper-text {
        width: 70%;
        font-size: 2rem;
      }
    }
  }
}

/* 首頁-即時賽況 #live-game*/

#live-game {
  height: 270px;
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: $gray-border;
    border-width: 0px 0.5px 0.5px 0px;
    &:first-child {
      border-width: 0px 0.5px 0.5px 0.5px;
    }
    .date {
      margin-top: 15px;
      text-align: center;
      color: $gray-text;
    }
    .player {
      text-align: center;
      width: 100%;
      display: flex;
      align-items: center;
      margin: 20px 0;
      .team {
        flex: 1;
        .team-logo {
          text-align: center;
          img {
            max-width: 90px;
          }
        }
      }
      .vs {
        flex: 1;
        font-size: 2rem;
        font-weight: 600;
        .with-number {
          letter-spacing: 6px;
          margin: 0 20px;
          p {
            margin: 0 auto;
          }
          span {
            letter-spacing: 3px;
          }
          .high-light {
            color: $primary;
          }
        }
      }
    }
    .bottom {
      width: 100%;
      .msg {
        text-align: center;
        padding: 3px;
        color: $gray-text;
        background: $gray-light;
      }
      .items {
        text-align: center;
        display: flex;
        color: $primary;
        .item {
          padding: 8px 0;
          text-align: center;
          border-right: 1px solid $primary;
          &:last-child {
            border: none;
          }
        }
        #item-live {
          background: $primary;
          color: white;
          flex: 1;
        }
        #item-play {
          flex: 1;
          img {
            height: 20px;
          }
        }
        #item-boxscore {
          flex: 2;
        }
        #item-playbyplay {
          flex: 2;
        }
        #item-not-yet {
          flex: 1;
          color: $gray-text;
          background: $gray-light;
          text-align: center;
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  .swiper-button-prev {
    left: 0;
    transform: rotateZ(180deg);
    background-image: url("../images/svg/rignt-arrow.svg");
  }
  .swiper-button-next {
    right: 0;
    background-image: url("../images/svg/rignt-arrow.svg");
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
  &:hover + #more-btn-container {
    opacity: 1;
  }
}
#more-btn-container {
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  transition: opacity 0.3s;
  .btn {
    font-size: 1.2rem;
    padding: 5px 30px;
  }
  &:hover {
    opacity: 1;
  }
}
@media (max-width: 996px) {
  #more-btn-container {
    opacity: 1;
    .btn {
      font-size: 1.2rem;
      padding: 8px 30px;
    }
  }
}

/* 首頁 最新消息 News */
#home-news {
  max-width: 95%;
  width: 1140px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  > div {
    padding: 30px;
  }
  .hot {
    position: relative;
    .cover {
      width: 480px;
      height: 360px;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: all 0.3s;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
      }
      &:hover {
        img {
          transform: scale(1.05) translate(-50%, -50%);
        }
      }
    }
    .link-block {
      padding: 20px 60px;
      position: absolute;
      background: $primary;
      bottom: 0%;
      left: 0%;
      color: white;
      .hot-title {
        font-weight: 600;
        font-size: 1.5rem;
      }
      &:after {
        position: absolute;
        right: -10%;
        bottom: 40%;
        content: "";
        width: 70px;
        height: 30px;
        background-image: url("../images/svg/news-white-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
  .content {
    > div {
      margin-bottom: 20px;
    }
    .title {
      font-size: 1.5rem;
      color: $primary;
      margin-bottom: 15px;
    }
    ul {
      li {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 5px 0;
        border-bottom: 1px dashed $gray-border;
        &:last-child {
          border: none;
        }
      }
    }
  }
}
@media (max-width: 996px) {
  #home-news {
    margin: 20px auto;
    max-width: 100%;
    flex-direction: column;
    > div {
      width: 100%;
      padding: 20px;
    }
    .hot {
      .cover {
        width: 100%;
        max-height: 320px;
      }
      .link-block {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px;
        .hot-title {
          font-size: 1.2rem;
        }
        &:after {
          display: none;
        }
      }
    }
    .content {
      > div {
        margin-bottom: 10px;
      }
      .title {
        font-size: 20px;
        margin-bottom: 10px;
      }
      ul {
        li {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}

/* 賽程進度表 schedule */
#schedule {
  width: 100%;
  background: $gray-light;
  margin-top: 30px;
  padding: 60px 0;
  .container {
    width: 1140px;
    margin: auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:after {
      content: "";
      position: absolute;
      width: 240px;
      height: 100%;
      background: $primary;
      left: 0;
      top: 0;
      z-index: -1;
    }
    .title {
      position: relative;
      color: white;
      font-weight: 600;
      font-size: 1.5rem;
      padding-left: 20px;
      margin: 15px 0;
    }
    .content {
      display: flex;
      padding-left: 20px;
      .item {
        flex: 1;
        background: white;
        padding: 15px 10px;
        text-align: center;
        border-style: solid;
        border-color: $gray-border;
        border-width: 1px 1px 1px 0;
        color: $primary;
        font-size: 16px;
        &:first-child {
          border-width: 1px;
        }
      }
      .past {
        border-bottom: 1px solid $primary;
      }
      .future {
        color: $gray-border;
      }
      .active {
        position: relative;
      }
      .active:before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 50%;
        height: 1px;
        background: $primary;
      }
      .active:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 16px;
        content: url("../images/icon-ball.svg");
        height: 1px;
        text-align: center;
        z-index: 1;
      }
    }
  }
}
@media (max-width: 996px) {
  #schedule {
    margin: 0 auto;
    padding: 0;
    .container {
      max-width: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      padding-top: 0;
      &:after {
        width: 200px;
        height: 150px;
        top: -20px;
      }
      .title {
        padding: 0;
        margin-top: 0;
        margin-bottom: 15px;
      }
      .content {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        background: white;
        .item {
          padding: 0;
          flex: 1;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          border: none;
          span {
            padding: 12px;
            flex: 1;
          }
        }
        .item:first-child {
          span {
            padding-top: 20px;
          }
        }
        .item:last-child {
          span {
            padding-bottom: 20px;
          }
        }
        .past {
          span:last-child {
            border-right: 2px solid $primary;
          }
        }
        .future,
        .active {
          span:last-child {
            border-right: 2px solid $gray-border;
          }
        }
        .active:before {
          top: 0;
          width: 2px;
          height: 50%;
          left: 50%;
          transform: translateX(-50%);
        }
        .active:after {
          top: 10%;
        }
      }
    }
  }
}

/* 焦點球星 star-rank-wrapper */
#star {
  position: relative;
  background-color: $primary;
  background-image: url("../images/demo/Image66.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  padding-bottom: 120px;
  #star-carousel {
    max-width: 95%;
    width: 1140px;
    .title {
      color: white;
      margin: 50px 0;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      .navigation {
        display: none;
        margin: 0 20px;
        width: 60px;
        letter-spacing: 20px;
        span {
          display: inline-block;
          cursor: pointer;
          width: 12px;
          height: 12px;
          border-style: solid;
          border-color: white;
          border-width: 2px 2px 0 0;
          transform: rotate(-135deg);
        }
        span:last-child {
          transform: rotate(45deg);
        }
      }
    }
    .swiper-wrapper {
      margin-bottom: 40px;
    }
    .swiper-slide {
      padding: 0 40px;
      .pic {
        position: relative;
        overflow: hidden;
        height: 280px;
        img {
          width: 100%;
          min-height: 100%;
        }
      }
      .bottom {
        color: white;
        .info {
          background: black;
          position: relative;
          padding: 10px 20px;
          margin-left: -20px;
          span {
            letter-spacing: 2px;
          }
          .team-logo {
            position: absolute;
            background: white;
            right: 10px;
            border: 5px solid white;
            top: -30px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
        }
        .score {
          background: $primary;
          display: flex;
          .item {
            flex: 1;
            padding: 5px 10px;
            border-left: 0.5px solid rgba(white, 0.7);
            h5 {
              font-size: 14px;
              font-weight: 400;
            }
            p {
              margin: 0 auto;
              font-size: 1.8rem;
              text-align: center;
            }
          }
          .item:first-child {
            border: none;
            p {
              font-weight: 600;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 996px) {
  #star {
    #star-carousel {
      .title {
        .navigation {
          display: block;
        }
      }
    }
  }
}
/* 焦點球星 rank */
#rank-wrapper {
  background: $primary;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .wrap {
    width: 95%;
    background: $gray-light;
    transform: translateY(-100px);
    padding: 5% 10% 5% 5%;
    .cotent {
      max-width: 100%;
      width: 1140px;
      margin: auto;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
          display: flex;
          align-items: center;
          p {
            color: $primary;
            font-size: 1.5rem;
          }
          .switch {
            margin-left: 20px;
            padding: 8px 20px;
            display: flex;
            align-items: center;
            background: $primary;
            .area {
              color: #fff;
              font-size: 1.2rem;
              letter-spacing: 3px;
              margin: 0 15px;
            }
          }
        }
        .btns {
          display: flex;
        }
      }
      .ranks {
        display: flex;
        margin: 30px 0;
        height: 260px;
        .left,
        .right {
          background: white;
          flex: 1;
        }
        .left {
          display: flex;
          margin-right: 30px;
          .team-logo {
            position: relative;
            flex: 1;
            overflow: hidden;
            border-right: 1px solid $gray-border;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              max-width: 250px;
            }
          }
          .info {
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 60px;
            .team-name,
            .coach {
              padding: 0 20px;
            }
            .team-name {
              color: $primary;
              font-weight: 600;
              font-size: 2rem;
            }
            .coach {
              margin: 15px 0;
            }
            .score {
              display: flex;
              border-top: 1px solid $gray-border;
              .item {
                border-right: 1px solid $gray-border;
                flex: 1;
                text-align: center;
                padding: 10px 20px;
                &:last-child {
                  border-right: none;
                }
                .win:before,
                .lose:before,
                .range:before {
                  display: block;
                  font-weight: normal;
                  white-space: nowrap;
                  font-size: 12px;
                }
                .win:before {
                  content: "勝";
                }
                .lose:before {
                  content: "敗";
                }
                .range:before {
                  content: "剩分差";
                }
                p {
                  font-size: 1.5rem;
                  color: $primary;
                  font-weight: 600;
                }
              }
            }
            &:after {
              content: "";
              background-image: url("../images/svg/medal.svg");
              background-size: contain;
              background-repeat: no-repeat;
              position: absolute;
              top: 0;
              right: 0;
              width: 50px;
              height: 30%;
            }
          }
        }
        .right {
          height: 100%;
          overflow-y: auto;
          table {
            margin: 0 auto;
            .team {
              font-size: 18px;
              img {
                margin-right: 20px;
                width: 40px;
              }
            }
          }
        }
      }
      #king-carousel {
        .swiper-slide {
          background: white;
          .king-name {
            padding: 3px 0;
            color: white;
            background: $primary;
            text-align: center;
            font-size: 1.2rem;
          }
          .profile {
            display: flex;
            width: 100%;
            .left {
              height: 150px;
              flex: 4;
              overflow: hidden;
              img {
                width: 100%;
                min-height: 100%;
              }
            }
            .right {
              flex: 5;
              padding: 10px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .top {
                display: flex;
                justify-content: space-between;
                .rank {
                  color: $primary;
                  font-size: 2rem;
                  font-weight: bold;
                }
                .team-logo {
                  width: 50px;
                  img {
                    width: 100%;
                  }
                }
              }
              .player-name {
                font-weight: 700;
                font-size: 1.5rem;
              }
              .detail {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .player-number {
                  font-size: 1.5rem;
                }
              }
            }
          }
          table {
            margin: 0 auto;
            th {
              font-size: 12px;
              padding: 0 5px;
              font-weight: normal;
            }
            tr {
              height: 20px;
            }
            td {
              padding: 5px;
            }
            .player {
              p {
                line-height: 12px;
              }
              span {
                font-size: 12px;
                color: $gray-text;
              }
            }
            .team {
              img {
                margin-right: 10px;
                width: 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 996px) {
  #rank-wrapper {
    .wrap {
      width: 100%;
      padding: 10% 3%;
      transform: initial;
      .cotent {
        .header {
          position: relative;
          flex-wrap: wrap;
          .title {
            width: 100%;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            .switch {
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin: 0;
              margin-top: 30px;
            }
          }
          .btns {
            position: absolute;
            top: 0;
            right: 0;
            .btn {
              padding: 5px 8px;
              .arrow {
                width: 30px;
              }
            }
          }
        }
        .ranks {
          margin: 15px 0;
          width: 100%;
          height: initial !important;
          flex-direction: column;
          .left {
            margin-right: 0;
            .info {
              padding-top: 30px;
              .team-name {
                font-size: 1.6rem;
              }
              &:after {
                width: 50px;
                height: 30%;
              }
            }
          }
          .right {
            table {
              margin: 0 auto;
              th {
                font-size: 14px;
                padding: 0 10px;
                font-weight: normal;
              }
              td {
                padding: 8px 5px;
              }
              .team {
                font-size: 14px;
                img {
                  margin-right: 10px;
                  width: 25px;
                }
              }
            }
          }
        }
        #king-carousel {
          padding-right: 100px;
        }
      }
    }
  }
}

/* 照片 */
#pictures {
  max-width: 100%;
  width: 1140px;
  margin: auto;
  padding: 40px 0;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    .title {
      color: $primary;
    }
  }
  .waterfall {
    height: fit-content;
    .item {
      width: 33.33%;
      padding: 15px;
      padding: 0 15px 15px 0px;
      .content {
        position: relative;
        cursor: pointer;
        border-radius: 2px;
        overflow: hidden;
        opacity: 0.8;
        transition: all 0.2s;
        img {
          width: 100%;
        }
        .bottom {
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -100%;
          background: $primary;
          text-align: center;
          color: white;
          padding: 5px 0;
          transition: all 0.2s;
        }
        &:hover {
          opacity: 1;
          .bottom {
            bottom: 0;
          }
        }
      }
    }
  }
  .modal-dialog {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    .modal-content {
      background: none;
      border-radius: 0;
      width: 600px;
      .modal-body {
        padding: 0;
        position: relative;
        .close {
          right: 0px;
          top: 0;
          position: absolute;
          z-index: 99;
          width: 40px;
          height: 40px;
          background: black;
          &:after,
          &:before {
            content: "";
            width: 100%;
            position: absolute;
            height: 1px;
            background: white;
            top: 50%;
            z-index: 99;
          }
          &::after {
            transform: rotate(45deg);
          }
          &::before {
            transform: rotate(-45deg);
          }
        }
        #model-carousel {
          position: relative;
          .swiper-slide {
            position: relative;
            overflow: hidden;
            img {
              width: 100%;
            }
            .bottom {
              color: white;
              width: 100%;
              background: black;
              position: absolute;
              padding: 10px;
              left: 0;
              bottom: 0;
            }
          }
        }
        .btns {
          display: flex;
          justify-content: flex-end;
        }
        .navigation {
          width: 110%;
          position: absolute;
          display: flex;
          justify-content: space-between;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }
      }
    }
  }
}
@media (max-width: 996px) {
  #pictures {
    width: 95%;
    margin: auto;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        color: $primary;
      }
    }
    .waterfall {
      .item {
        width: 50%;
        padding: 0 10px 10px 0;
      }
    }

    .modal-dialog {
      .modal-content {
        width: 90%;
        .modal-body {
          .close {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

#video {
  max-width: 100%;
  width: 1140px;
  margin: auto;
  margin-bottom: 60px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    .title {
      color: $primary;
    }
  }
  #video-carousel {
    // padding: 0 50px;
    .swiper-slide {
      .video {
        width: 100%;
        height: 200px;
        iframe {
          width: 100%;
          height: 100%;
          border: none;
        }
      }
      .bottom {
        padding: 10px;
        background: $primary;
        color: white;
        .video-title {
          font-size: 1.2rem;
        }
        .date {
          font-size: 12px;
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      background-position: center center;
      background-size: 50%;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
    }
    .swiper-button-prev {
      left: 0;
      transform: rotateZ(180deg);
      background-image: url("../images/svg/rignt-arrow.svg");
    }
    .swiper-button-next {
      right: 0;
      background-image: url("../images/svg/rignt-arrow.svg");
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      content: "";
    }
  }
}
@media (max-width: 996px) {
  #video {
    width: 95%;
    #video-carousel {
      .swiper-slide {
        .video {
          height: 300px;
        }
        .bottom{
          padding: 20px 10px;
        }
      }
    }
  }
}
/* 頁底 Footer*/
/* 因全域使用,放置於 layout.scss*/
