#search-wrapper {
  background-color: #2e2e2e;
}
#search-wrapper .calendar-btn {
  width: 100%;
  background: #404040;
  height: calc(2.25rem + 2px);
  border-radius: 0;
  border: 0;
}
#search-wrapper .calendar-btn img{
  width: 20px;
  height: 20px;
}
#search-wrapper .calendar-btn#input {
  color: white;
}
#search-wrapper .calendar-btn#calendar {
  color: #e94f1b;
}
#search-wrapper .calendar-btn#calendar i.calendar:after {
  content: "";
  display: inline-block;
  height: 28px;
  width: 28px;
  background: transparent url(../../img/calendar-icon.svg) no-repeat 0px 0px;
}

#scheduler-container {
  position: absolute;
  z-index: 100;
}
#scheduler-container .k-widget {
  border: unset;
}
#scheduler-container .k-scheduler-toolbar {
  border-color: #9d9d9d !important;
}
#scheduler-container .k-nav-prev {
  order: 1;
}
#scheduler-container .k-nav-today {
  order: 2;
}
#scheduler-container .k-nav-next {
  order: 3;
}
#scheduler-container .k-nav-current {
  margin-left: auto !important;
  order: 4;
}
#scheduler-container .k-scheduler-refresh {
  display: none;
}
#scheduler-container .k-scheduler-content {
  border: unset;
}
#scheduler-container .k-scheduler-header .k-scheduler-table tbody tr {
  background-color: #404040 !important;
  color: #fff;
}
#scheduler-container .k-scheduler-content .k-scheduler-table tr th {
  border: 0.1px solid #9d9d9d !important;
}
#scheduler-container .k-scheduler-content .k-scheduler-table tr td {
  border: 0.5px solid #d3d3d3 !important;
}
#scheduler-container .k-scheduler-monthview .k-scheduler-table td {
  text-align: left;
}
#scheduler-container .k-scheduler-content .k-scheduler-table td {
  background: #fafafa;
}

table * {
  font-weight: 500 !important;
}

table .date {
  vertical-align: top !important;
}

table th[colspan]:not([colspan="1"]) {
  background-color: black !important;
}

table .future {
  color: #d3d3d3 !important;
}
