.banner-container {
  margin-right: 20vw;
  background-image: url(../../images/about-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.banner-text {
  text-align: right;
  margin-right: calc(-10vw);
  padding-top: 180px;
  padding-bottom: 180px;
  background-color: #000000aa; }

#statistic-desktop-container {
  position: relative; }
  #statistic-desktop-container .banner {
    position: absolute;
    right: 0;
    bottom: calc(-3rem - 1.75rem);
    left: 60%; }
    #statistic-desktop-container .banner img {
      filter: brightness(0.62); }
  #statistic-desktop-container .theme-box {
    background-color: #e94f1b;
    width: 80%; }
    #statistic-desktop-container .theme-box .text-box {
      padding: 70px 50px;
      width: 80%; }

#statistic-mobile-container {
  margin-top: 180px;
  position: relative; }
  #statistic-mobile-container h4 {
    font-size: 1.3rem; }
  #statistic-mobile-container h6 {
    font-size: 0.65rem; }
  #statistic-mobile-container .banner {
    position: absolute;
    right: 0;
    top: -120px;
    left: 18%; }
    #statistic-mobile-container .banner img {
      filter: brightness(0.62); }
  #statistic-mobile-container .believe-text {
    position: absolute;
    top: calc(120px + 15px);
    left: -12%; }
  #statistic-mobile-container .theme-box {
    background-color: #e94f1b;
    width: 90%;
    padding: 100px 25px 40px 25px; }
  #statistic-mobile-container .text-box .row:nth-child(2) {
    width: 90%;
    margin: auto; }
