@charset "UTF-8";
/* 首頁-Banner #top-carousel*/
#top-carousel {
  height: 460px;
}

#top-carousel:hover .swiper-button-next,
#top-carousel:hover .swiper-button-prev {
  opacity: 1;
}

#top-carousel .swiper-button-next,
#top-carousel .swiper-button-prev {
  opacity: 0;
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 80px;
  height: 55px;
  border-style: solid;
  border-color: #e94f1b;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#top-carousel .swiper-button-prev {
  left: 0;
  border-width: 1px 1px 1px 0;
  background-image: url("../images/svg/left-orange-arrow.svg");
}

#top-carousel .swiper-button-next {
  right: 0;
  border-width: 1px 0px 1px 1px;
  background-image: url("../images/svg/right-orange-arrow.svg");
}

#top-carousel .swiper-button-next::after,
#top-carousel .swiper-button-prev::after {
  content: "";
}

#top-carousel .swiper-pagination-bullet {
  background: white;
  opacity: 1;
  border-radius: 0;
  width: 60px;
  height: 2px;
}

#top-carousel .swiper-pagination-bullet-active {
  background: #e94f1b;
}

#top-carousel .swiper-slide {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top-carousel .swiper-slide:after {
  content: "";
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

#top-carousel .swiper-slide .banner {
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#top-carousel .swiper-slide .swiper-text {
  width: 80%;
  z-index: 1;
  color: white;
  font-size: 2rem;
  letter-spacing: 4px;
  font-weight: bold;
}

@media (max-width: 996px) {
  #top-carousel .swiper-button-next,
  #top-carousel .swiper-button-prev {
    display: none;
  }
  #top-carousel .swiper-slide img {
    min-width: 100%;
    width: initial !important;
    height: 100%;
  }
  #top-carousel .swiper-slide .swiper-text {
    width: 70%;
    font-size: 2rem;
  }
}

/* 首頁-即時賽況 #live-game*/
#live-game {
  height: 270px;
}

#live-game .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 0px 0.5px 0.5px 0px;
}

#live-game .swiper-slide:first-child {
  border-width: 0px 0.5px 0.5px 0.5px;
}

#live-game .swiper-slide .date {
  margin-top: 15px;
  text-align: center;
  color: #707070;
}

#live-game .swiper-slide .player {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

#live-game .swiper-slide .player .team {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#live-game .swiper-slide .player .team .team-logo {
  text-align: center;
}

#live-game .swiper-slide .player .team .team-logo img {
  max-width: 90px;
}

#live-game .swiper-slide .player .vs {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2rem;
  font-weight: 600;
}

#live-game .swiper-slide .player .vs .with-number {
  letter-spacing: 6px;
  margin: 0 20px;
}

#live-game .swiper-slide .player .vs .with-number p {
  margin: 0 auto;
}

#live-game .swiper-slide .player .vs .with-number span {
  letter-spacing: 3px;
}

#live-game .swiper-slide .player .vs .with-number .high-light {
  color: #e94f1b;
}

#live-game .swiper-slide .bottom {
  width: 100%;
}

#live-game .swiper-slide .bottom .msg {
  text-align: center;
  padding: 3px;
  color: #707070;
  background: #F3F3F3;
}

#live-game .swiper-slide .bottom .items {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e94f1b;
}

#live-game .swiper-slide .bottom .items .item {
  padding: 8px 0;
  text-align: center;
  border-right: 1px solid #e94f1b;
}

#live-game .swiper-slide .bottom .items .item:last-child {
  border: none;
}

#live-game .swiper-slide .bottom .items #item-live {
  background: #e94f1b;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#live-game .swiper-slide .bottom .items #item-play {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#live-game .swiper-slide .bottom .items #item-play img {
  height: 20px;
}

#live-game .swiper-slide .bottom .items #item-boxscore {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#live-game .swiper-slide .bottom .items #item-playbyplay {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#live-game .swiper-slide .bottom .items #item-not-yet {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #707070;
  background: #F3F3F3;
  text-align: center;
}

#live-game .swiper-button-next,
#live-game .swiper-button-prev {
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

#live-game .swiper-button-prev {
  left: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  background-image: url("../images/svg/rignt-arrow.svg");
}

#live-game .swiper-button-next {
  right: 0;
  background-image: url("../images/svg/rignt-arrow.svg");
}

#live-game .swiper-button-next::after,
#live-game .swiper-button-prev::after {
  content: "";
}

#live-game:hover + #more-btn-container {
  opacity: 1;
}

#more-btn-container {
  opacity: 0;
  text-align: right;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#more-btn-container .btn {
  font-size: 1.4rem;
  padding: 10px 40px;
}

#more-btn-container:hover {
  opacity: 1;
}

@media (max-width: 996px) {
  #more-btn-container {
    opacity: 1;
  }
  #more-btn-container .btn {
    font-size: 1.2rem;
    padding: 8px 30px;
  }
}

/* 首頁 最新消息 News */
#home-news {
  max-width: 95%;
  width: 1140px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-news > div {
  padding: 30px;
}

#home-news .hot {
  position: relative;
}

#home-news .hot .cover {
  width: 480px;
  height: 360px;
  position: relative;
  overflow: hidden;
}

#home-news .hot .cover img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#home-news .hot .cover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

#home-news .hot .cover:hover img {
  -webkit-transform: scale(1.05) translate(-50%, -50%);
          transform: scale(1.05) translate(-50%, -50%);
}

#home-news .hot .link-block {
  padding: 20px 60px;
  position: absolute;
  background: #e94f1b;
  bottom: 0%;
  left: 0%;
  color: white;
}

#home-news .hot .link-block .hot-title {
  font-weight: 600;
  font-size: 1.5rem;
}

#home-news .hot .link-block:after {
  position: absolute;
  right: -10%;
  bottom: 40%;
  content: "";
  width: 70px;
  height: 30px;
  background-image: url("../images/svg/news-white-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#home-news .content > div {
  margin-bottom: 20px;
}

#home-news .content .title {
  font-size: 1.5rem;
  color: #e94f1b;
  margin-bottom: 15px;
}

#home-news .content ul li {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 5px 0;
  border-bottom: 1px dashed #D3D3D3;
}

#home-news .content ul li:last-child {
  border: none;
}

@media (max-width: 996px) {
  #home-news {
    margin: 20px auto;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home-news > div {
    width: 100%;
    padding: 20px;
  }
  #home-news .hot .cover {
    width: 100%;
    max-height: 320px;
  }
  #home-news .hot .link-block {
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 15px;
  }
  #home-news .hot .link-block .hot-title {
    font-size: 1.2rem;
  }
  #home-news .hot .link-block:after {
    display: none;
  }
  #home-news .content > div {
    margin-bottom: 10px;
  }
  #home-news .content .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  #home-news .content ul li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* 賽程進度表 schedule */
#schedule {
  width: 100%;
  background: #F3F3F3;
  margin-top: 30px;
  padding: 60px 0;
}

#schedule .container {
  width: 1140px;
  margin: auto;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#schedule .container:after {
  content: "";
  position: absolute;
  width: 240px;
  height: 100%;
  background: #e94f1b;
  left: 0;
  top: 0;
  z-index: -1;
}

#schedule .container .title {
  position: relative;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  padding-left: 20px;
  margin: 15px 0;
}

#schedule .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

#schedule .container .content .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  padding: 15px 10px;
  text-align: center;
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 1px 1px 1px 0;
  color: #e94f1b;
  font-size: 16px;
}

#schedule .container .content .item:first-child {
  border-width: 1px;
}

#schedule .container .content .past {
  border-bottom: 1px solid #e94f1b;
}

#schedule .container .content .future {
  color: #D3D3D3;
}

#schedule .container .content .active {
  position: relative;
}

#schedule .container .content .active:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50%;
  height: 1px;
  background: #e94f1b;
}

#schedule .container .content .active:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  content: url("../images/icon-ball.svg");
  height: 1px;
  text-align: center;
  z-index: 1;
}

@media (max-width: 996px) {
  #schedule {
    margin: 0 auto;
    padding: 0;
  }
  #schedule .container {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
    padding-top: 0;
  }
  #schedule .container:after {
    width: 200px;
    height: 150px;
    top: -20px;
  }
  #schedule .container .title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
  }
  #schedule .container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0px;
    background: white;
  }
  #schedule .container .content .item {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
  }
  #schedule .container .content .item span {
    padding: 12px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #schedule .container .content .item:first-child span {
    padding-top: 20px;
  }
  #schedule .container .content .item:last-child span {
    padding-bottom: 20px;
  }
  #schedule .container .content .past span:last-child {
    border-right: 2px solid #e94f1b;
  }
  #schedule .container .content .future span:last-child,
  #schedule .container .content .active span:last-child {
    border-right: 2px solid #D3D3D3;
  }
  #schedule .container .content .active:before {
    top: 0;
    width: 2px;
    height: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #schedule .container .content .active:after {
    top: 10%;
  }
}

/* 焦點球星 star-rank-wrapper */
#star-rank-wrapper {
  position: relative;
  background-color: #e94f1b;
  background-image: url("../images/demo/Image66.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

#star-rank-wrapper .star #star-carousel {
  max-width: 95%;
  width: 1140px;
}

#star-rank-wrapper .star #star-carousel .title {
  color: white;
  margin: 30px 0;
  font-size: 1.5rem;
}

#star-rank-wrapper .swiper-wrapper {
  margin-bottom: 40px;
}

#star-rank-wrapper .swiper-slide {
  padding: 0 40px;
}

#star-rank-wrapper .swiper-slide .pic {
  position: relative;
  overflow: hidden;
  height: 280px;
}

#star-rank-wrapper .swiper-slide .pic img {
  width: 100%;
  min-height: 100%;
}

#star-rank-wrapper .swiper-slide .bottom {
  color: white;
}

#star-rank-wrapper .swiper-slide .bottom .info {
  background: black;
  position: relative;
  padding: 10px 20px;
  margin-left: -20px;
}

#star-rank-wrapper .swiper-slide .bottom .info span {
  letter-spacing: 2px;
}

#star-rank-wrapper .swiper-slide .bottom .info .team-logo {
  position: absolute;
  background: white;
  right: 10px;
  border: 5px solid white;
  top: -30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

#star-rank-wrapper .swiper-slide .bottom .info .team-logo img {
  width: 100%;
}

#star-rank-wrapper .swiper-slide .bottom .score {
  background: #e94f1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#star-rank-wrapper .swiper-slide .bottom .score .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px 10px;
  border-left: 0.5px solid rgba(255, 255, 255, 0.7);
}

#star-rank-wrapper .swiper-slide .bottom .score .item h5 {
  font-size: 14px;
  font-weight: 400;
}

#star-rank-wrapper .swiper-slide .bottom .score .item p {
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: center;
}

#star-rank-wrapper .swiper-slide .bottom .score .item:first-child {
  border: none;
}

#star-rank-wrapper .swiper-slide .bottom .score .item:first-child p {
  font-weight: 600;
  font-size: 2rem;
}
