#second-carousel .bottom-bar {
  color: #e94f1b;
  font-size: 0.6rem;
  font-weight: bold;
  border-bottom: 1px solid #e94f1b;
  align-items: center;
}

#second-carousel .slick-arrow {
  z-index: 2;
  background-position: 0%;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: padding-box;
  background-color: transparent;
}
#second-carousel .slick-arrow.slick-prev {
  left: 5;
  background-image: url("../../images/chevron-left.svg");
}
#second-carousel .slick-arrow.slick-next {
  right: 5;
  background-image: url("../../images/chevron-right.svg");
}

#second-carousel #more-btn-container {
  text-align: right;
  opacity: 0;
}

#second-carousel:hover #more-btn-container {
  opacity: 1;
  animation: opacity 1 0.5s;
}

#second-carousel .straight-line {
  border-left: 1px solid #e94f1b;
  margin: 2px auto;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 30.4px;
}

#news-featured-wrapper .news-title {
  position: absolute;
  left: 5;
  bottom: -10px;
  right: 20%;
}
#news-featured-wrapper .news-title .news-title-arrow {
  position: absolute;
  right: -20px;
  top: 70%;
}

.d-desktop #schedule-wrapper {
  position: relative;
  height: 160px;
}
.d-desktop #schedule-wrapper #title {
  color: white;
  background-color: #e94f1b;
  margin-left: -10px;
  padding-left: 30px;
  padding-top: 15px;
  width: 30%;
  height: 160px;
  z-index: -1;
}
.d-desktop #schedule-wrapper #schedule-container {
  position: absolute;
  left: 30px;
  right: 0;
  bottom: 0;
  top: 70px;
  height: calc(160px - 70px);
}
.d-desktop #schedule-wrapper #schedule-container #row-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  background-color: white;
}
.d-desktop #schedule-wrapper #schedule-container #row-container .col {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #d3d3d3;
}
.d-desktop #schedule-wrapper #schedule-container #row-container .col.past {
  color: #e94f1b;
}
.d-desktop #schedule-wrapper #schedule-container #row-container .col.active {
  color: #e94f1b;
}
.d-desktop #schedule-wrapper #schedule-container #row-container .col.active:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  content: url("../../images/icon-ball.svg");
  height: 1px;
  text-align: center;
  z-index: 1;
}
.d-desktop #schedule-wrapper #schedule-container #row-container .col.future {
  color: #9d9d9d;
}
.d-desktop #schedule-wrapper #schedule-container #row-container:after {
  position: absolute;
  left: -1px;
  right: 55%;
  bottom: 0;
  content: " ";
  height: 1px;
  background-color: #e94f1b;
}

.d-mobile #schedule-wrapper {
  position: relative;
  height: 460px;
}
.d-mobile #schedule-wrapper #title {
  color: white;
  background-color: #e94f1b;
  margin-left: -10px;
  padding-left: 30px;
  padding-top: 15px;
  margin-top: -15px;
  width: 60%;
  height: 140px;
  z-index: -1;
}
.d-mobile #schedule-wrapper #schedule-container {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 0;
  top: 70px;
  height: 320px;
}
.d-mobile #schedule-wrapper #schedule-container #row-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  background-color: white;
}
.d-mobile #schedule-wrapper #schedule-container #row-container .left,
.d-mobile #schedule-wrapper #schedule-container #row-container .right {
  width: 50%;
}
.d-mobile #schedule-wrapper #schedule-container #row-container .left:after {
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 55%;
  content: " ";
  width: 1px;
  background-color: #e94f1b;
}
.d-mobile #schedule-wrapper #schedule-container #row-container .col {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.d-mobile #schedule-wrapper #schedule-container #row-container .col.past {
  color: #e94f1b;
}
.d-mobile #schedule-wrapper #schedule-container #row-container .col.active {
  color: #e94f1b;
}
.d-mobile #schedule-wrapper #schedule-container #row-container .col.future {
  color: #9d9d9d;
}
.d-mobile #schedule-wrapper #schedule-container #row-container .left .col.active:after {
  position: absolute;
  right: -16px;
  top: 4px;
  content: url("../../images/icon-ball.svg");
  height: 1px;
  text-align: center;
  z-index: 1;
}

#star-rank-wrapper {
  position: relative;
  background-color: #e94f1b;
  background-image: url(../../images/demo/Image66.png);
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  #star-rank-wrapper {
    background-size: 100% auto;
  }
}
@media (max-width: 992px) {
  #star-rank-wrapper {
    background-size: auto 100%;
  }
}
#star-rank-wrapper #banner {
  z-index: -1;
  position: absolute;
  top: 0;
  height: 700px;
  width: 100%;
}
#star-rank-wrapper #star-rank-container {
  z-index: 1;
}
#star-rank-wrapper #star-wrapper #arrow-container {
  position: relative;
}
#star-rank-wrapper #star-wrapper #arrow-container button {
  cursor: pointer;
  background-color: transparent !important;
  color: white;
  border: none;
}
#star-rank-wrapper #star-wrapper .slick-item {
  padding-left: 30px;
  padding-right: 30px;
}
#star-rank-wrapper #star-wrapper .focus-player {
  position: relative;
}
#star-rank-wrapper #star-wrapper .focus-player #name {
  position: absolute;
  left: -15px;
  right: 0px;
  bottom: 0;
  padding: 10px 0px 10px 25px;
}
#star-rank-wrapper #star-wrapper .focus-player #name #team-logo {
  width: 72px;
  position: absolute;
  top: -20%;
  right: 10px;
}

@media (min-width: 992px) {
  #rank-wrapper {
    padding-left: 6%;
  }
}

#rank-wrapper #rank-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 992px) {
  #rank-wrapper #rank-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
#rank-wrapper #rank-container .metal {
  text-align: right;
  padding-right: 15px;
  max-height: 10px;
}
#rank-wrapper #rank-container .metal img {
  width: 30px;
}
@media (min-width: 992px) {
  #rank-wrapper #rank-container .metal img {
    width: 50px;
  }
}

#rank-wrapper #slick-container {
  width: 140vw;
}
#rank-wrapper #slick-container .slick-item {
  padding-left: 15px;
  padding-right: 15px;
}
#rank-wrapper #slick-container .slick-item .team-icon {
  width: 20px;
  height: 20px;
}
