.k-grid * {
  text-align: center;
  font-size: 12px;
  /* font-family: unset;  */
}

.k-grid .k-grid-header {
  background: #000000 !important; 
}
  .k-grid .k-grid-header th {
    border: none;
    /* border-width: 0px 1px 1px 0px !important;
    border-color: white !important;  */
  }

.k-grid th {
  background: #000000 !important;
  color: white !important; }
  .k-grid th a {
    color: white !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    white-space: normal; }
  .k-grid th[data-colspan]:not([data-colspan="1"]) {
    background-color: #e94f1b !important; 
    border-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-width: 0px 0px 0px 1px ;
  }

.k-grid tr {
  background: #fafafa; }

.k-grid td {
  border: unset;
  padding-left: 0;
  padding-right: 0; }

.k-widget {
  font-size: 12px;
  font-family: unset; 
  border:none;}
