.detail-statistic {
  position: absolute;
  right: 0px;
  left: 50%;
  bottom: -80px;
  overflow: hidden;
  padding-right: 10vw !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
  .detail-statistic .key {
    margin-bottom: 0.5rem !important;
    font-size: 14px; }
  .detail-statistic .value {
    margin-bottom: 0.5rem !important;
    font-size: 16px;
    font-weight: bold; }
  @media (max-width: 992px) {
    .detail-statistic {
      left: 15px;
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
      .detail-statistic .key {
        font-size: 12px; }
      .detail-statistic .value {
        font-size: 14px; } }
  @media (min-width: 992px) {
    .detail-statistic.statistic-player {
      bottom: -40px;
      right: calc((100vw - 1155px) / 2); } }
