#top-carousel {
  height: 460px;
}

#top-carousel:hover .swiper-button-next,
#top-carousel:hover .swiper-button-prev {
  opacity: 1;
}

#top-carousel .swiper-button-next,
#top-carousel .swiper-button-prev {
  opacity: 0;
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 80px;
  height: 55px;
  border-style: solid;
  border-color: #e94f1b;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#top-carousel .swiper-button-prev {
  left: 0;
  border-width: 1px 1px 1px 0;
  background-image: url("../images/svg/left-orange-arrow.svg");
}

#top-carousel .swiper-button-next {
  right: 0;
  border-width: 1px 0px 1px 1px;
  background-image: url("../images/svg/right-orange-arrow.svg");
}

#top-carousel .swiper-button-next::after,
#top-carousel .swiper-button-prev::after {
  content: "";
}

#top-carousel .swiper-pagination-bullet {
  background: white;
  opacity: 1;
  border-radius: 0;
  width: 60px;
  height: 2px;
}

#top-carousel .swiper-pagination-bullet-active {
  background: #e94f1b;
}

#top-carousel .swiper-slide {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top-carousel .swiper-slide:after {
  content: "";
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

#top-carousel .swiper-slide .banner {
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#top-carousel .swiper-slide .swiper-text {
  width: 80%;
  z-index: 1;
  color: white;
  font-size: 2rem;
  letter-spacing: 4px;
  font-weight: bold;
}

@media (max-width: 996px) {
  #top-carousel .swiper-button-next,
  #top-carousel .swiper-button-prev {
    display: none;
  }
  #top-carousel .swiper-slide img {
    min-width: 100%;
    width: initial !important;
    height: 100%;
  }
  #top-carousel .swiper-slide .swiper-text {
    width: 70%;
    font-size: 2rem;
  }
}
