.detail-statistic {
  position: absolute;
  right: 0px;
  left: 50%;
  bottom: -80px;
  overflow: hidden;
  padding-right: 10vw !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
  .detail-statistic .key {
    margin-bottom: 0.5rem !important;
    font-size: 14px; }
  .detail-statistic .value {
    margin-bottom: 0.5rem !important;
    margin-bottom: 0rem !important;
    font-size: 16px;
    font-weight: bold; }
  @media (max-width: 992px) {
    .detail-statistic {
      left: 15px;
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
      .detail-statistic .key {
        font-size: 12px; }
      .detail-statistic .value {
        font-size: 14px; } }

#schedule-wrapper #schedule-more-btn {
  float: right;
  opacity: 0; }

#schedule-wrapper:hover #schedule-more-btn {
  opacity: 1;
  animation: opacity 1 0.5s; }

#player-wrapper .player, #staff-wrapper .player {
  background-color: white;
  position: relative; }
  #player-wrapper .player .player-row, #staff-wrapper .player .player-row {
    display: flex;
    flex-wrap: wrap; }
  #player-wrapper .player .player-photo,
  #player-wrapper .player .player-info, #staff-wrapper .player .player-photo,
  #staff-wrapper .player .player-info {
    position: relative;
    width: 100%;
    min-height: 1px; }
  #player-wrapper .player .player-photo, #staff-wrapper .player .player-photo {
    flex: 0 0 30%;
    max-width: 30%; }
  #player-wrapper .player .player-info, #staff-wrapper .player .player-info {
    flex: 0 0 70%;
    max-width: 70%;
    align-self: center;
    padding-left: 15px; }
  #player-wrapper .player .player-role, #staff-wrapper .player .player-role {
    color: #e94f1b;
    position: absolute;
    top: 5px;
    right: 5px; }
  #player-wrapper .player .player-squad-number, #staff-wrapper .player .player-squad-number {
    color: #e94f1b;
    position: absolute;
    bottom: 5px;
    right: 5px; }
