.top-right-container {
  width: 70%;
  margin-left: auto;
  overflow: hidden; }
  @media (max-width: 992px) {
    .top-right-container {
      width: 80%; } }
  .top-right-container .slick-item {
    text-align: right;
    overflow: hidden;
    display: flex; }
  .top-right-container .top-banner {
    height: 240px;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 992px) {
      .top-right-container .top-banner {
        height: 180px; }
        .top-right-container .top-banner:not(:first-child) {
          display: none; } }
    .top-right-container .top-banner img {
      border-bottom: 3px solid #e94f1b;
      height: 100%;
      filter: brightness(0.62); }

.top-left-container {
  margin-top: -240px; }
  @media (max-width: 992px) {
    .top-left-container {
      margin-top: -180px; } }

.card-item {
  border-bottom: 3px solid #e94f1b; }
